body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #3a86ff80;
    color: #fff;
}

.content {
    display: flex;
}

.sidebar-container {
    border: 1px solid grey;
    width: 22rem;
    background-color: #3a86ff30;
    color: #000;
}

.sidebar-items {
    padding: 0;
}

.sidebar-container > ul {
    list-style: none;
}

.sidebar-container > ul > li {
    padding-top: .5rem;
    cursor:pointer;
}

.sidebar-container > ul > li > .day-week-calendar-filter {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    width: 100%;
    height: 2.5rem;
}

.sidebar-container > ul > li > .day-week-calendar-filter:hover {
    background-color: blue;
    color: #fff
}

#main-container {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    width: 100%;
    padding: 1rem 0;

}

.day-container {
    min-width: 400px;
    width: 33vw;
    min-height: 500px;
    border: 1px solid black; 
}

.week-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.week-container > .day-container {   
    width: 15vw;
    min-width: 150px;
    height: 25vh;
    border: 1px solid red;
    margin: 1rem;
}

.day-title-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.project-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.add-project-button {
    padding: 0;
    width: 2rem;
    height: 2rem;
    border: none;
    background: none;
    cursor:pointer;
}